footer.footer
    .container
        .footer__block
            .footer__production.production
                .production__heading
                    a(href='#') Продукция
                ul.produciton__list
                    li.production__item
                        a(href='#') Освежители воздуха
                    li.production__item
                        a(href='#') Стирка и уход за бельём
                    li.production__item
                        a(href='#') Уборка дома
                    li.production__item
                        a(href='#') Средства для прочистки труб
                    li.production__item
                        a(href='#') Инсектицидные средства
                    li.production__item
                        a(href='#') Зубные щетки
                    li.production__item
                        a(href='#') Станки для бритья
                    li.production__item
                        a(href='#') Средства для бритья
        .footer__block
            .footer__menu.footer-menu
                ul.footer-menu__list
                    li.footer-menu__item
                        a(href='#') О компании
                    li.footer-menu__item
                        a(href='#') Бренды
                    li.footer-menu__item
                        a(href='#') Где купить
                    li.footer-menu__item
                        a(href='#') Что нового
            .footer__socials.footer__socials_tablet.socials
                ul.socials__list
                    li.socials__item.socials__item_whatsapp
                        a(href='#')
                    li.socials__item.socials__item_instagram
                        a(href='#')
                    li.socials__item.socials__item_youtube
                        a(href='#')
        .footer__block
            .footer__contacts.contacts
                .contacts__block
                    .contacts__heading
                        a(href='#') Контакты
                    .contacts__phone
                        a(href='tel:+78005553535') +7(495) 775-39-38
                    .contacts__email
                        a(href='mailto:test@test.ru') office@transatlantic.ru
                    .contacts__address
                        a(href='#') г. Москва,  ул. Неверовского, д. 10, стр. 3 БЦ  «Сrosswall»
                .contacts__block
                    .contacts__feedback-btn
                        a(href='#').btn.btn_white Обратная связь
                    .footer__socials.socials
                        ul.socials__list
                            li.socials__item.socials__item_whatsapp
                                a(href='#')
                            li.socials__item.socials__item_instagram
                                a(href='#')
                            li.socials__item.socials__item_youtube
                                a(href='#')
