header.header
    .header__logo
        a(href='#')
    .header__search.search
        form.search__form
            .search__input
                input(type='text' placeholder='Поиск')
            .search__submit
                input(type='submit')
    .header__mobmenu-toggler.burger
        input(type='checkbox' id='mobmenu-toggler')
        label(for='mobmenu-toggler')




