.footer
  flex 0 0 auto
  padding: 24px 0 36px
  background-color: #00206E

  font-size: 14px
  text-align: center
  color: #ffffff
  font-weight: 300

  .production
    margin-bottom: 16px

    &__heading
      margin-bottom: 12px

      font-weight: 700
      font-size: 16px
      line-height: 19px
      text-transform: uppercase

    &__item
      line-height: 17px
      margin-bottom: 4px

  .footer-menu
    display: flex
    flex-direction: column

    font-weight: 700
    font-size: 16px
    line-height: 19px
    text-transform: uppercase

    &__item
      margin-bottom: 16px

      &:last-child
        margin-bottom: 0

