extends ../layout/main

block variables
    - var title = 'Главная страница'
    - var pageClass = 'index'

block content
    .top-slider
        .top-slider__list.js-top-slider
            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

            .top-slider__item.slide
                .slide__bg
                    img(alt='Средство для мытья полов' src='static/img/content/slider-1.jpg')
                .slide__content
                    .slide__container.container
                        .slide__left
                            .slide__heading
                                span Средство для #[br] мытья полов
                            .slide__subheading
                                span Серия средств для уборки дома
                            .slide__text
                                p Мы создали для вас композицию уникальных запахов которые очень непринужденно становятся частью атмосферы любого пространства.
                            .slide__btn
                                a(href='#').btn.btn_white Посмотреть в каталоге
                        .slide__img
                            picture
                                source(srcset="/static/img/content/slider-1-img-desktop.png" media="(min-width: 1280px)")
                                source(srcset="/static/img/content/slider-1-img-tablet.png" media="(min-width: 768px)")
                                img(srcset="/static/img/content/slider-1-img.png" alt="Средство для мытья полов")

    .container
        .heading
            .heading__left
                .like-h2 Продукция
                .like-h4 Незаменимые помощники в вашем доме
            .heading__right
                a(href='#').btn Перейти в каталог

        .index-cats
            .index-cats__block
                .index-cats__item.category
                    .category__img
                        picture
                            source(srcset="/static/img/content/index-cat-1-desktop.png" media="(min-width: 1280px)")
                            source(srcset="/static/img/content/index-cat-1-tablet.png" media="(min-width: 768px)")
                            img(srcset="/static/img/content/index-cat-1.png" alt="Освежители воздуха")
                    .category__text
                        .category__name
                            span Освежители воздуха
                        .category__descr
                            span Серии высококачественных освежителей воздуха легко устранят неприятные запахи, надолго наполняя Ваш дом неповторимыми нежными и тонкими ароматами.
                        .category__btn
                            a(href='#').btn.btn_blue В каталог
                        .category__btn.category__btn_desktop
                            a(href='#').btn Посмотреть в каталоге
                .index-cats__item.category.category_horizontal
                    .category__img
                        picture
                            source(srcset="/static/img/content/index-cat-2-desktop.png" media="(min-width: 1280px)")
                            source(srcset="/static/img/content/index-cat-2-tablet.png" media="(min-width: 768px)")
                            img(srcset="/static/img/content/index-cat-2.png" alt="Стирка и уход за бельем")
                    .category__text
                        .category__name
                            span Стирка и уход #[br] за бельем
                        .category__descr
                            span Наша продукция сделает все, чтобы ваше белье навсегда сохранило первозданный вид.
                        .category__btn
                            a(href='#').btn.btn_blue В каталог
                        .category__btn.category__btn_desktop
                            a(href='#').btn Посмотреть в каталоге
                .index-cats__item.category.category_horizontal
                    .category__img
                        picture
                            source(srcset="/static/img/content/index-cat-3-desktop.png" media="(min-width: 1280px)")
                            source(srcset="/static/img/content/index-cat-3-tablet.png" media="(min-width: 768px)")
                            img(srcset="/static/img/content/index-cat-3.png" alt="Уборка дома")
                    .category__text
                        .category__name
                            span Уборка дома
                        .category__descr
                            span Наша продукция сделает все, чтобы ваше белье навсегда сохранило первозданный вид.
                        .category__btn
                            a(href='#').btn.btn_blue В каталог
                        .category__btn.category__btn_desktop
                            a(href='#').btn Посмотреть в каталоге
            .index-cats__block.index-cats__block_reflected
                .index-cats__item.category
                    .category__img
                        picture
                            source(srcset="/static/img/content/index-cat-4-desktop.png" media="(min-width: 1280px)")
                            source(srcset="/static/img/content/index-cat-4-tablet.png" media="(min-width: 768px)")
                            img(srcset="/static/img/content/index-cat-4.png" alt="Зубные щетки")
                    .category__text
                        .category__name
                            span Зубные щетки
                        .category__descr
                            span Совершенное закругление вершин волокон зубных щёток эффективно чистит зубы, бережно массирует дёсны и оказывает превосходный гигиенический эффект на полость рта.
                        .category__btn
                            a(href='#').btn.btn_blue В каталог
                        .category__btn.category__btn_desktop
                            a(href='#').btn Посмотреть в каталоге
                .index-cats__item.category.category_horizontal
                    .category__img
                        picture
                            source(srcset="/static/img/content/index-cat-5-desktop.png" media="(min-width: 1280px)")
                            source(srcset="/static/img/content/index-cat-5-tablet.png" media="(min-width: 768px)")
                            img(srcset="/static/img/content/index-cat-5.png" alt="Средства для прочистки труб")
                    .category__text
                        .category__name
                            span Средства #[br] для прочистки труб
                        .category__descr
                            span Эффективные средства для очистки и дезинфекции канализационных систем от засоров и загрязнений.
                        .category__btn
                            a(href='#').btn.btn_blue В каталог
                        .category__btn.category__btn_desktop
                            a(href='#').btn Посмотреть в каталоге
                .index-cats__item.category.category_horizontal
                    .category__img
                        picture
                            source(srcset="/static/img/content/index-cat-6-desktop.png" media="(min-width: 1280px)")
                            source(srcset="/static/img/content/index-cat-6-tablet.png" media="(min-width: 768px)")
                            img(srcset="/static/img/content/index-cat-6.png" alt="Инсектицидные средства")
                    .category__text
                        .category__name
                            span Инсектицидные средства
                        .category__descr
                            span Универсальные средства для уничтожения летающих и нелетающих насекомых (комаров, москитов, моли, постельных клопов, муравьёв, мух, тараканов, блох и др.)
                        .category__btn
                            a(href='#').btn.btn_blue В каталог
                        .category__btn.category__btn_desktop
                            a(href='#').btn Посмотреть в каталоге
            .index-cats__block.index-cats__block_line2
                .index-cats__item.category
                    .category__img
                        picture
                            source(srcset="/static/img/content/index-cat-7-desktop.png" media="(min-width: 1280px)")
                            source(srcset="/static/img/content/index-cat-7-tablet.png" media="(min-width: 768px)")
                            img(srcset="/static/img/content/index-cat-7.png" alt="Станки для бритья")
                    .category__text
                        .category__name
                            span Станки для бритья
                        .category__descr
                            span Одноразовые бритвы с лезвиями из нержавеющей стали и с платиновым покрытием, обеспечивающие гладкое, эффективное и комфортное бритьё.
                        .category__btn
                            a(href='#').btn.btn_blue В каталог
                        .category__btn.category__btn_desktop
                            a(href='#').btn Посмотреть в каталоге
                .index-cats__item.category
                    .category__img
                        picture
                            source(srcset="/static/img/content/index-cat-8-desktop.png" media="(min-width: 1280px)")
                            source(srcset="/static/img/content/index-cat-8-tablet.png" media="(min-width: 768px)")
                            img(srcset="/static/img/content/index-cat-8.png" alt="Средства для бритья")
                    .category__text
                        .category__name
                            span Средства для бритья
                        .category__descr
                            span Линейка средств для бритья с насыщенной бархатистой консистенцией для ультра гладкого и эффективного бритья без раздражений.
                        .category__btn
                            a(href='#').btn.btn_blue В каталог
                        .category__btn.category__btn_desktop
                            a(href='#').btn Посмотреть в каталоге

        .heading
            .heading__left
                .like-h2 Что нового?
                .like-h4 Незаменимые помощники в вашем доме
            .heading__right
                a(href='#').btn Посмотреть все новинки

        .whats-new
            .category
                .category__img
                    picture
                        source(srcset="/static/img/content/whats-new-desktop.jpg" media="(min-width: 1280px)")
                        source(srcset="/static/img/content/whats-new-tablet.png" media="(min-width: 768px)")
                        img(srcset="/static/img/content/whats-new.png" alt="Что нового?")
                .category__text
                    .category__name
                        span Серия освежителей воздуха Light air
                    .category__descr
                        span Наша продукция сделает все, чтобы ваше белье навсегда сохранило первозданный вид.
                    .category__btn
                        a(href='#').btn В каталог
                    .category__btn.category__btn_desktop
                        a(href='#').btn Посмотреть в каталоге


