extends ../layout/main

block variables
    - var title = 'Где купить'
    - var pageClass = 'contacts wherebuy'

block content

    .container.container_pl
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Где купить

        .heading.heading_content
            .like-h2 Где купить

    .container
        .news__list
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/auchan.jpg" alt="Ашан")
                    .news-block__title
                        span Ашан
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/lenta.jpg" alt="Лента")
                    .news-block__title
                        span Лента
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/auchan.jpg" alt="Ашан")
                    .news-block__title
                        span Ашан
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/lenta.jpg" alt="Лента")
                    .news-block__title
                        span Лента
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/auchan.jpg" alt="Ашан")
                    .news-block__title
                        span Ашан
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/lenta.jpg" alt="Лента")
                    .news-block__title
                        span Лента
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/auchan.jpg" alt="Ашан")
                    .news-block__title
                        span Ашан
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/lenta.jpg" alt="Лента")
                    .news-block__title
                        span Лента
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/auchan.jpg" alt="Ашан")
                    .news-block__title
                        span Ашан
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/lenta.jpg" alt="Лента")
                    .news-block__title
                        span Лента
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/auchan.jpg" alt="Ашан")
                    .news-block__title
                        span Ашан
            .news__item
                .news-block
                    .news-block__img
                        picture
                            img(srcset="/static/img/content/lenta.jpg" alt="Лента")
                    .news-block__title
                        span Лента
