extends ../layout/main

block variables
    - var title = 'Где купить'
    - var pageClass = 'contacts wherebuy'

block content

    .container.container_pl
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Где купить

        .heading.heading_content
            .like-h2 Где купить

    .container
        .contacts__main
            .contacts__text
                ul.wherebuy__list
                    li.wherebuy__item
                        .wherebuy__name
                            span Ашан
                        .wherebuy__address
                            span 125252, г. Москва, Ходынский бул., д.4, ТВК "Авиапарк", 1-й этаж.
                        .wherebuy__hours
                            span Вс-Чт: 10-22, Пт-Сб: 10-23
                        .wherebuy__phone
                            a(href='tel:+74957870428') 8 (495) 787-04-28
                    li.wherebuy__item
                        .wherebuy__name
                            span Магнит
                        .wherebuy__address
                            span 125252, г. Москва, Ходынский бул., д.4, ТВК "Авиапарк", 1-й этаж.
                        .wherebuy__hours
                            span Вс-Чт: 10-22, Пт-Сб: 10-23
                        .wherebuy__phone
                            a(href='tel:+74957870428') 8 (495) 787-04-28
                    li.wherebuy__item
                        .wherebuy__name
                            span Перекресток
                        .wherebuy__address
                            span 125252, г. Москва, Ходынский бул., д.4, ТВК "Авиапарк", 1-й этаж.
                        .wherebuy__hours
                            span Вс-Чт: 10-22, Пт-Сб: 10-23
                        .wherebuy__phone
                            a(href='tel:+74957870428') 8 (495) 787-04-28
                    li.wherebuy__item
                        .wherebuy__name
                            span Ашан
                        .wherebuy__address
                            span 125252, г. Москва, Ходынский бул., д.4, ТВК "Авиапарк", 1-й этаж.
                        .wherebuy__hours
                            span Вс-Чт: 10-22, Пт-Сб: 10-23
                        .wherebuy__phone
                            a(href='tel:+74957870428') 8 (495) 787-04-28
                    li.wherebuy__item
                        .wherebuy__name
                            span Магнит
                        .wherebuy__address
                            span 125252, г. Москва, Ходынский бул., д.4, ТВК "Авиапарк", 1-й этаж.
                        .wherebuy__hours
                            span Вс-Чт: 10-22, Пт-Сб: 10-23
                        .wherebuy__phone
                            a(href='tel:+74957870428') 8 (495) 787-04-28
                    li.wherebuy__item
                        .wherebuy__name
                            span Перекресток
                        .wherebuy__address
                            span 125252, г. Москва, Ходынский бул., д.4, ТВК "Авиапарк", 1-й этаж.
                        .wherebuy__hours
                            span Вс-Чт: 10-22, Пт-Сб: 10-23
                        .wherebuy__phone
                            a(href='tel:+74957870428') 8 (495) 787-04-28
            .contacts__map
                img(src='static/img/content/wherebuy-map.jpg' alt='Где купить')
