.btn
  position: relative
  display: inline-block
  padding: 5px 28px 5px 12px
  border: 1px solid #00206E
  border-radius: 50px
  
  font-size: 8px
  font-weight: bold
  text-transform: uppercase
  color: #00206E
  letter-spacing: -0.2px
  white-space: nowrap

  @media $tablet
    font-size: 10px

  @media $desktop
    padding: 5px 35px 5px 19px

    font-size: 12px

  &::before
    content: ''
    display: block
    width: 6px
    height: 10px
    position: absolute
    top: 5px
    right: 10px
    background-repeat: no-repeat
    background-size: contain
    background-image: url('../img/svg/btn-arrow.svg')

    @media $tablet
      top: 6px

    @media $desktop
      top: 7px
      right: 15px

  &_white
    border: 1px solid #fff

    color: #ffffff

    &::before
      background-image: url('../img/svg/btn-arrow-white.svg')



