.index-cats
  margin-bottom: 40px

  @media $tablet
    margin-bottom: 34px

  @media $desktop
    margin-bottom: 51px

  &+.heading
    margin-bottom: 29px

  &__block
    
    @media $tablet
      display: grid
      grid-template-columns: 216fr 462fr
      grid-template-rows: 1fr 1fr
      grid-template-areas: "first second"\
                           "first third"\
                           ". ."
      grid-gap: 30px 30px

    &_reflected
      grid-template-columns: 462fr 216fr
      grid-template-areas: "second first"\
                           "third first"\
                           ". ."

    &_line2
      display: block

      @media $tablet
        display: grid
        grid-template-columns: 216fr 462fr
        grid-template-rows: 1fr
        grid-template-areas: "first second"

      .index-cats__item.category

        &:nth-child(1)

          @media $tablet
            width: 100%
            height: 0
            padding-bottom: 83%

        &:nth-child(2)

          @media $tablet
            width: 100%
            height: 0
            padding-bottom: 39%

  &__item
    margin-bottom: 35px

    @media $tablet
      margin-bottom: 0

    &:nth-child(1)
      grid-area: first
    &:nth-child(2)
      grid-area: second
    &:nth-child(3)
      grid-area: third

.category
  background: #f3f3f3
  border-radius: 5px

  @media $tablet
    position: relative
    padding-bottom: 175%
    height: 0
    background: none

  &_horizontal

    @media $tablet
      padding-bottom: 0
      height: 100%

    .category

      &__name

        @media $desktop
          max-width: 300px

  &:hover
    box-shadow: 10px 10px 10px 00 #0000001A

  &__img
    width: 100%

    @media $tablet
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 5px

    picture
      display: block
      width: 100%
      height: 100%

  &__text
    padding: 6px 8px 8px

    @media $tablet
      position: absolute
      top: 0
      left: 0
      right: 0
      padding: 20px 24px

    @media $desktop
      max-width: 365px
      padding: 24px 29px


  &__name
    margin-bottom: 9px

    font-weight: bold
    font-size: 18px
    line-height: 22px
    color: #00206e

    @media $desktop
      margin-bottom: 10px

      font-size: 24px
      line-height: 28px

    br
      display: none

      @media $tablet
        display: block

  &__descr
    display: none
    margin-bottom: 10px

    font-size: 12px
    line-height: 15px
    color: #00206e

    @media $desktop
      display: block
      margin-bottom: 25px

      font-size: 16px
      line-height: 19px


  &__btn

    @media $desktop
      display: none

    &_desktop
      display: none

      @media $desktop
        display: block


.whats-new
  margin-bottom: 24px

  @media $tablet
    margin-bottom: 36px

  @media $desktop
    margin-bottom: 80px


  .category
    background: none

    @media $tablet
      padding-bottom: 26%

    &__descr
      display: block

    &__img

      img

        @media $tablet
          object-position: right

    &__text

      @media $tablet
        max-width: 240px
        bottom: 0

        display: flex
        flex-direction: column
        justify-content: center

      @media $desktop
        max-width: 340px

    &__name

      @media $tablet
        margin-bottom: 10px
