.search

  .container_pl

    @media $tablet
      padding-left: calc(100%  / 3 + 20px)

    @media $desktop
      padding-left: 344px


  .heading
    margin-bottom: 8px

  &__count
    margin-bottom: 20px

    font-size: 9px
    line-height: 11px
    
    @media $tablet
      max-width: 216px


    @media $desktop
      max-width: 570px

      font-size: 16px
      line-height: 19px
